@font-face {
  	font-family: 'HarmonyOS Sans SC Medium';
 	src:url('https://cdn.osgz.com/font/HarmonyOS_Sans/HarmonyOS_Sans_SC_Medium.woff') format('woff');
}

html {
	box-sizing:border-box;
}
*,*:before,*:after {
	box-sizing:inherit;
}
html,body,#main {
	margin:0;
}
body {
	font-family:'HarmonyOS Sans SC Medium';
	font-size:16px;
	line-height:1.5;
	overflow-wrap:break-word;
	background:white;
	color:black;
}

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #3a3a3a;
    color: #EEEEEE
}

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #3a3a3a;
    color: #EEEEEE
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: scroll
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}

.css-logo {
    text-align: center;
    font-size: 4.5em;
    -webkit-letter-spacing: 0.05em;
    -moz-letter-spacing: 0.05em;
    -ms-letter-spacing: 0.05em;
    letter-spacing: 0.05em;
}

dd,ul {
	margin-left:0;
	padding-left:25px;
}
.container {
	max-width:800px;
	margin:0 auto;
}
.container2 {
	padding:0 20px;
}
a {
	color:#0020b4;
	text-decoration:none;
}
.css-notice {
	text-align:center;
	background-color:#eee;
	margin:2em 0;
	padding:5px 0;
	border-radius: 8px;
}
.css-font{
	font-size:1.6em;
}
.footer {
	margin-top:5rem;
	background:black;
	color:#aaa;
}
.css-footer {
	max-width:800px;
	padding:12px 20px;
	margin:0 auto;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-align-items:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.css-icon {
	font-size:1.5rem;
}
.css-ico {
	color:#0ffbaa;
	display:inline-block;
}
